{% extends 'sample.html' %} {% block title%}about_page{% endblock title%} {%
block content%}
<h2 class='abt-heading'>About the Blood Pressure Tracker Application</h2>
<p class='abt-btm-mg abt-body'>
  Our mission is to help you take control of your health by providing a simple,
  easy-to-use blood pressure tracking app. With this BP tracker, you can monitor
  your blood pressure, identify trends, and share your progress with your
  healthcare provider.
</p>
<div class="about-cnt">
  <div>
    <h3>Why Track Blood Pressure?</h3>
    <ul>
      <li>
        High blood pressure (hypertension) affects millions of people worldwide
      </li>
      <li>
        Regular monitoring can help prevent cardiovascular disease, stroke, and
        kidney disease
      </li>
      <li class='abt-btm-mg'>
        Tracking blood pressure enables early detection of potential health
        issues
      </li>
    </ul>
  </div>
  <div>
    <h3>Features:</h3>
    <ul>
      <li>Easy-to-use interface for tracking blood pressure readings</li>
      <li>Graphical representation of your blood pressure trends</li>
      <li>Customizable reminders to take your blood pressure readings</li>
      <li>Secure data storage to protect your health information</li>
      <li class='abt-btm-mg'>Exportable reports to share with your healthcare provider</li>
    </ul>
  </div>
  <div>
    <h3>Benefits:</h3>
    <ul>
      <li>Improved awareness of your blood pressure levels</li>
      <li>Early detection of potential health issues</li>
      <li>Personalized insights to help you manage your blood pressure</li>
      <li class='abt-btm-mg'>Collaboration with your healthcare provider to optimize your treatment
      </li>
    </ul>
  </div>
  <div>
    <h3>Developer:</h3>
    <ul>
      <li>Olukorede Samson Gbenga</li>
  </div>
  <div class="abt-1">
    <h3>Get in Touch:</h3>
    <ul>
      <li>Contact us: <a href="mailto:samsongreats@gmail.com">samsongreats@gmail.com</a></li>
      <li>Follow us on Twitter:<a href="@samsongreats_1">samsongreats_1</a></li>
      <li class='abt-btm-mg'>Like us on Facebook: @samsongreats</li>
      </ul>
  </div>
  <div class="abt-2">
    <h5>Disclaimer:</h5>
    <p>
      This application is intended for informational purposes only and is not a substitute for professional medical advice. Always consult your healthcare provider before making any changes to your health routine.
      </p>
  </div>
</div>
{% endblock content%}
